<title>Exercises</title>
<p style = "font-size:50px">Exercises</p>
<sbar style="font-size: 16px">Search:</sbar> <input type="text" id="input" name ="input" size="50" maxLength="50" placeholder="Enter Exercise Name" >
<data class="data" id="data">
{{#each data}}
<hr>
<article class = "entry">
	<h2 class = "name" style = "font-size:30px"> {{this.name}}</h2>
	<div style = "font-size:20px">Duration(mins):{{this.duration}}</div>
	<div style = "font-size:20px">Muscle Groups Targeted:  {{this.muscle_groups}} </div>
	<div style = "font-size:20px">Difficulty(1-10): {{this.difficulty}} </div>
	<div style = "font-size:20px">Potential For Injury(1-10): {{this.inj_potential}} </div>
</article> 
<hr> 
{{/each}}
<article id="nufin" hidden="hidden">
    <h1>There are no matches for your query</h1>
</article>
</data>

<script type="text/javascript">


    $(document).ready(function () {
        $("#input").keyup(function () {
            var word = $(this).val().toLowerCase();
            var count = 0;

            $(".entry").each(function (index, element) {
                var name = $(element).find(".name").text().toLowerCase();

                if (name.search(new RegExp(word)) < 0) {
                    $(this).fadeOut();
                }
                else {
                    $(this).show();
                    count++;
                }
            });

            if (count == 0) { 
                $("#nufin").show();
            }
            else { 
                $("#nufin").hide();
            }
        
        });

    });




</script>